/* =========================
   RESET
========================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    color: #172a46;
    background: #ffffff;
    line-height: 1.7;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: min(1050px, 90%);
    margin: auto;
}


/* =========================
   NAVBAR
========================= */

.navbar {
    position: sticky;
    top: 0;
    z-index: 100;

    background: rgba(255,255,255,.94);
    border-bottom: 1px solid #e8eef5;

    backdrop-filter: blur(12px);
}

.nav-content {
    height: 68px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 23px;
    font-weight: 700;
    color: #16365e;
}

.logo span {
    color: #4c83bd;
}

nav {
    display: flex;
    gap: 27px;
}

nav a {
    font-size: 13px;
    color: #617087;
    transition: .3s;
}

nav a:hover {
    color: #245a91;
}


/* =========================
   HERO
========================= */

.hero {
    min-height: 700px;

    display: flex;
    align-items: center;

    text-align: center;

    background:
        radial-gradient(
            circle at 50% 10%,
            #e5f0fb,
            transparent 35%
        ),
        #ffffff;

    padding: 70px 0 80px;
}

.hero-content {
    max-width: 720px;
    margin: auto;
}


/* FOTO */

.photo-wrapper {
    width: 225px;
    height: 225px;

    margin: 0 auto 30px;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}

.photo-decoration {
    position: absolute;

    width: 215px;
    height: 215px;

    border-radius: 50%;

    border: 2px solid #b9d1e9;

    transform: rotate(-8deg);
}

.profile-photo {
    position: relative;
    z-index: 2;

    width: 190px;
    height: 190px;

    object-fit: cover;

    border-radius: 50%;

    border: 6px solid #ffffff;

    box-shadow:
        0 15px 35px rgba(35,78,119,.18);
}


/* TEXT */

.hello {
    color: #3971a8;

    font-size: 12px;

    font-weight: 700;

    letter-spacing: 3px;

    margin-bottom: 8px;
}

.hero h1 {
    font-size: clamp(45px, 7vw, 70px);

    line-height: 1.05;

    letter-spacing: -2px;

    color: #132944;
}

.hero h1 span {
    color: #3977b6;
}

.hero h2 {
    margin-top: 12px;

    font-size: 22px;

    font-weight: 600;

    color: #50677f;
}

.description {
    max-width: 600px;

    margin: 18px auto 0;

    color: #748398;

    font-size: 14px;
}


/* BUTTON */

.buttons {
    display: flex;

    justify-content: center;

    gap: 12px;

    margin-top: 28px;

    flex-wrap: wrap;
}

.btn {
    padding: 11px 22px;

    border-radius: 8px;

    font-size: 13px;

    font-weight: 600;

    transition: .3s;
}

.primary {
    color: #ffffff;

    background: #245b93;

    box-shadow:
        0 8px 20px rgba(36,91,147,.18);
}

.primary:hover {
    background: #174675;
   
